body {
  font-family: 'Arial';
}

main {
  width: 300px;
  margin: auto;
  text-align: center;
}
#pomodoroStopButton,
#shortBreakStopButton,
#longBreakStopButton {
  display: none;
}

#pomodoroResetButton,
#shortBreakResetButton,
#longBreakResetButton {
  display: none;
}

.timer {
  font-size: xx-large;
}

#shortBreakContainer,
#longBreakContainer {
  display: none;
}

#pomodoroNavButton {
  background-color: lightgray;
}

#shortBreakNavButton,
#longBreakNavButton {
  background-color: buttonface;
}

.timer-button {
  background-color: buttonface;
}
