#pomodoroStopButton {
  display: none;
}

#pomodoroResetButton {
  display: none;
}

.timer {
  font-size: xx-large;
}

#shortBreakContainer {
  display: none;
}

#longBreakContainer {
  display: none;
}
