* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
  margin: 0;

  main {
    width: 375px;
    margin: auto;
    text-align: center;

    h1 {
      font-size: 42px;
      margin-top: 3rem;
    }

    nav {
      margin-bottom: 1rem;
    }

    .timer {
      font-size: 72px;
      margin-bottom: 1rem;
    }

    .timer-button {
      background-color: buttonface;
      width: 100px;
    }
  }
}

button {
  font-size: large;
  padding: 8px 13px;
  border-radius: 4px;
  border: none;
}

#pomodoroStopButton,
#shortBreakStopButton,
#longBreakStopButton {
  display: none;
}

#pomodoroResetButton,
#shortBreakResetButton,
#longBreakResetButton {
  display: none;
}

#shortBreakContainer,
#longBreakContainer {
  display: none;
}

#pomodoroNavButton {
  background-color: lightgray;
}

#shortBreakNavButton,
#longBreakNavButton {
  background-color: buttonface;
}
